<H1>Todo</H1>

<div class="container">

  <form (ngSubmit)="saveTodo()" #todoForm="ngForm">

    <fieldset class="form-group">
      <label>Description</label>
      <input type="text"  class="form-control" required="required" name="description"  [(ngModel)]="todo.description">
    </fieldset>

    <fieldset class="form-group">
      <label>Target Date</label>
      <input type="date"
         class="form-control" name="targetDate" required="required" >
  </fieldset>


    <button type="submit" class="btn btn-success" >Save</button>
  </form>
</div>
